html {
    background: #008080;
    --lumo-font-family: "MS Sans Serif", Tahoma, sans-serif;
    --lumo-base-color: #f8f8f8;
    --lumo-body-text-color: black;
    --lumo-border-radius: 0px;
}

* {
    border-radius: 0 !important;
}

body {
    background: #008080;
}
