[
 {rabbit, [
   {loopback_users, []},  % allow guest to connect from any host if needed
   {auth_backends, [rabbit_auth_backend_http, rabbit_auth_backend_internal]},
   {log_levels, [{rabbit_auth_backend_http, debug}]}
 ]},
 {rabbitmq_mqtt, [
   {vhost, <<"/">>},                 % default vhost
   {allow_anonymous, false},          % disallow anonymous MQTT
   {tcp_listeners, [1883]}            % MQTT port without TLS for local development
 ]},
 {rabbitmq_auth_backend_http, [
   {http_method, post},
   {user_path, "http://192.168.1.166:8080/rabbitmq/authenticate/user"},
   {vhost_path, "http://192.168.1.166:8080/rabbitmq/authenticate/vhost"},
   {resource_path, "http://192.168.1.166:8080/rabbitmq/authenticate/resource"},
   {topic_path, "http://192.168.1.166:8080/rabbitmq/authenticate/topic"},
   {timeout, 5000},   % 5 seconds timeout
   {cache_ttl, 10000} % cache result 10 seconds
 ]}
].
